# __Вопрос 4__
Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [2]:
df = pd.read_csv("illiteracy.txt", delimiter='\t')

In [3]:
df.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  94 non-null     object
 1   Illit    94 non-null     float64
 2   Births   94 non-null     float64
dtypes: float64(2), object(1)
memory usage: 2.3+ KB

In [14]:
df.corr?

In [16]:
df.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [17]:
df.corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000